In [1]:
import pandas as pd

In [4]:
train = pd.read_csv("training_set_VU_DM.csv", index_col=0)

In [5]:
train.head(2)

,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,prop_brand_bool,...,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool
srch_id,,,,,,,,,,,,,,,,,,,,,
1,2013-04-04 08:32:15,12,187,NaN,NaN,219,893,3,3.5,1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
1,2013-04-04 08:32:15,12,187,NaN,NaN,219,10404,4,4.0,1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0

In [6]:
len(train)

4958347

In [8]:
len(train.columns)

53

In [9]:
train.columns

Index(['date_time', 'site_id', 'visitor_location_country_id',
       'visitor_hist_starrating', 'visitor_hist_adr_usd', 'prop_country_id',
       'prop_id', 'prop_starrating', 'prop_review_score', 'prop_brand_bool',
       'prop_location_score1', 'prop_location_score2',
       'prop_log_historical_price', 'position', 'price_usd', 'promotion_flag',
       'srch_destination_id', 'srch_length_of_stay', 'srch_booking_window',
       'srch_adults_count', 'srch_children_count', 'srch_room_count',
       'srch_saturday_night_bool', 'srch_query_affinity_score',
       'orig_destination_distance', 'random_bool', 'comp1_rate', 'comp1_inv',
       'comp1_rate_percent_diff', 'comp2_rate', 'comp2_inv',
       'comp2_rate_percent_diff', 'comp3_rate', 'comp3_inv',
       'comp3_rate_percent_diff', 'comp4_rate', 'comp4_inv',
       'comp4_rate_percent_diff', 'comp5_rate', 'comp5_inv',
       'comp5_rate_percent_diff', 'comp6_rate', 'comp6_inv',
       'comp6_rate_percent_diff', 'comp7_rate', 'comp7_inv',
       'comp7_rate_percent_diff', 'comp8_rate', 'comp8_inv',
       'comp8_rate_percent_diff', 'click_bool', 'gross_bookings_usd',
       'booking_bool'],
      dtype='object')

## Suggestions extra features:
- date_time
    - time of day (morning, afternoon, evening)
    - day of week
    - weekend
- visitor_hist_starrating
    - first_puchase (when null)
- prop_starrating
    - no_star (when null)

In [12]:
# percentage of missing values per feature
train.isna().sum()/len(train)*100

date_time                       0.000000
site_id                         0.000000
visitor_location_country_id     0.000000
visitor_hist_starrating        94.920364
visitor_hist_adr_usd           94.897735
prop_country_id                 0.000000
prop_id                         0.000000
prop_starrating                 0.000000
prop_review_score               0.148517
prop_brand_bool                 0.000000
prop_location_score1            0.000000
prop_location_score2           21.990151
prop_log_historical_price       0.000000
position                        0.000000
price_usd                       0.000000
promotion_flag                  0.000000
srch_destination_id             0.000000
srch_length_of_stay             0.000000
srch_booking_window             0.000000
srch_adults_count               0.000000
srch_children_count             0.000000
srch_room_count                 0.000000
srch_saturday_night_bool        0.000000
srch_query_affinity_score      93.598552
orig_destination_distance      32.425766
random_bool                     0.000000
comp1_rate                     97.581250
comp1_inv                      97.387053
comp1_rate_percent_diff        98.095353
comp2_rate                     59.166392
comp2_inv                      57.036710
comp2_rate_percent_diff        88.781786
comp3_rate                     69.056462
comp3_inv                      66.702814
comp3_rate_percent_diff        90.464625
comp4_rate                     93.800797
comp4_inv                      93.069001
comp4_rate_percent_diff        97.356256
comp5_rate                     55.179155
comp5_inv                      52.403089
comp5_rate_percent_diff        83.036706
comp6_rate                     95.156511
comp6_inv                      94.736633
comp6_rate_percent_diff        98.060362
comp7_rate                     93.640058
comp7_inv                      92.811677
comp7_rate_percent_diff        97.206428
comp8_rate                     61.344900
comp8_inv                      59.916016
comp8_rate_percent_diff        87.602118
click_bool                      0.000000
gross_bookings_usd             97.208949
booking_bool                    0.000000
dtype: float64

In [19]:
# initially, remove features with missing values
remove = []
for i in train.columns:
    if train[i].isna().sum() != 0:
        remove.append(i)

In [20]:
train_ = train.drop(remove, axis = 1)

In [24]:
len(train_.columns) # 22 out of 53 columns have no missing values

22

In [ ]:
# types

In [ ]:
# site_id, visitor_location_country_id, prop_country_id, prop_id - categorical

In [25]:
sample = pd.read_csv("submission_sample.csv")

In [28]:
sample.head(40)

    srch_id  prop_id
0         1     3180
1         1     5543
2         1    14142
3         1    22393
4         1    24194
5         1    28181
6         1    34263
7         1    37567
8         1    50162
9         1    54937
10        1    56050
11        1    61632
12        1    61934
13        1    63894
14        1    72090
15        1    73666
16        1    74045
17        1    78599
18        1    82231
19        1    89466
20        1    90385
21        1    94729
22        1    95031
23        1    99484
24        1   123675
25        1   128085
26        1   128871
27        1   134992
28        1   139162
29        3     6533
30        3    11425
31        3    22325
32        3    24915
33        3    27753
34        3    32382
35        3    43133
36        3    43362
37        3    45550
38        3    46861
39        3    47238

In [29]:
len(sample)

4959183

In [39]:
test = pd.read_csv("test_set_VU_DM.csv", index_col=0)

In [57]:
test.head(2)

,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,prop_brand_bool,...,comp5_rate_percent_diff,comp6_rate,comp6_inv,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff
srch_id,,,,,,,,,,,,,,,,,,,,,
1,2013-02-02 15:27:40,24,216,NaN,NaN,219,3180,3,4.5,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013-02-02 15:27:40,24,216,NaN,NaN,219,5543,3,4.5,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
len(test)

4959183

In [40]:
l = []
for i in test.columns:
    if test[i].isna().sum() == 0:
        l.append(i)

In [41]:
l

['date_time',
 'site_id',
 'visitor_location_country_id',
 'prop_country_id',
 'prop_id',
 'prop_starrating',
 'prop_brand_bool',
 'prop_location_score1',
 'prop_log_historical_price',
 'price_usd',
 'promotion_flag',
 'srch_destination_id',
 'srch_length_of_stay',
 'srch_booking_window',
 'srch_adults_count',
 'srch_children_count',
 'srch_room_count',
 'srch_saturday_night_bool',
 'random_bool']

In [42]:
train_.columns

Index(['date_time', 'site_id', 'visitor_location_country_id',
       'prop_country_id', 'prop_id', 'prop_starrating', 'prop_brand_bool',
       'prop_location_score1', 'prop_log_historical_price', 'position',
       'price_usd', 'promotion_flag', 'srch_destination_id',
       'srch_length_of_stay', 'srch_booking_window', 'srch_adults_count',
       'srch_children_count', 'srch_room_count', 'srch_saturday_night_bool',
       'random_bool', 'click_bool', 'booking_bool'],
      dtype='object')

In [45]:
for i in l:
    if i not in train_.columns:
        print(i)

In [47]:
for i in train_.columns:
    if i not in l:
        print(i)

position
click_bool
booking_bool

In [59]:
train_[["position", "prop_id"]].head(40)

         position  prop_id
srch_id
1              27      893
1              26    10404
1              21    21315
1              34    27348
1               4    29604
1               7    30184
1              18    44147
1              35    50984
1               3    53341
1              10    56880
1              20    59267
1              19    59526
1              13    68914
1               2    74474
1              15    81437
1              31    85728
1              23    88096
1              36    88127
1               8    88218
1               6    89073
1              28    95166
1               1    95307
1              32    97247
1              12   107872
1              24   111000
1              37   111106
1              33   114766
1              29   122844
4              21     3625
4              36    11622
4              22    11826
4               4    22824
4              26    37581
4               3    39993
4              24    46162
4               9    49152
4              18    56063
4              10    56472
4              29    58696
4              31    64344

In [48]:
len(l)

19

In [49]:
len(train_)

4958347

In [51]:
train_ = train_.drop(["click_bool", "booking_bool"], axis=1)

In [52]:
train_.columns

Index(['date_time', 'site_id', 'visitor_location_country_id',
       'prop_country_id', 'prop_id', 'prop_starrating', 'prop_brand_bool',
       'prop_location_score1', 'prop_log_historical_price', 'position',
       'price_usd', 'promotion_flag', 'srch_destination_id',
       'srch_length_of_stay', 'srch_booking_window', 'srch_adults_count',
       'srch_children_count', 'srch_room_count', 'srch_saturday_night_bool',
       'random_bool'],
      dtype='object')

In [136]:
X_1 = train_.head(20019).drop(["position", "date_time"], axis=1).reset_index()
y_1 = train_.reset_index().head(20019)["position"]
X_2 = train_.tail(20000).drop(["position", "date_time"], axis=1).reset_index()
y_2 = train_.reset_index().tail(20000)["position"]
# X_3 = train_.head(20000).drop("position", axis=1)
# y_3 = train_.head(20000)["position"]

In [137]:
import lightgbm as lgb
gbm = lgb.LGBMRanker()

In [138]:
gr = X_1.groupby('srch_id').count()["site_id"]
gbm.fit(X_1, y_1, group=gr.tolist(), early_stopping_rounds=50)

LightGBMError: Label 34 is not less than the number of label mappings (31)

In [135]:
gr

srch_id
1       28
4       32
6        5
8       21
11      33
        ..
1349    32
1350    29
1352    15
1353    32
1354     1
Name: site_id, Length: 810, dtype: int64

In [130]:
test_pred = gbm.predict(X_test)

NameError: name 'X_test' is not defined

In [ ]:
X_test["predicted_ranking"] = test_pred
X_test.sort_values("predicted_ranking", ascending=False)